[{:itonami.blueprint/social-impact [:geological-safety :environmental-protection :earth-sciences :hazard-assessment], :itonami.blueprint/domain :research/geology-geophysics, :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "2114", :itonami.blueprint/name "Survey Support: Geology & Geophysics", :itonami.blueprint/governor :geology-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-2114", :itonami.blueprint/license "AGPL-3.0-or-later", :itonami.blueprint/maturity :implemented}]
